.nav {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 10px;

  .nav-link {
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 12px;

    &:hover {
      background-color: #e9ecef;
    }
  }
}